<h2>Tabela de Valores</h2>
<table border="1">
  <thead>
    <tr>
      <th>
        Nome<br />
        <input [(ngModel)]="filtro.nome" (input)="filtrar()" />
      </th>
      <th>
        Mês<br />
        <input [(ngModel)]="filtro.mes" (input)="filtrar()" />
      </th>
      <th>
        Ano<br />
        <input [(ngModel)]="filtro.ano" (input)="filtrar()" />
      </th>
      <th>
        Código<br />
        <input [(ngModel)]="filtro.codigo" (input)="filtrar()" />
      </th>
      <th>
        Valor<br />
        <input [(ngModel)]="filtro.valor" (input)="filtrar()" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dadosFiltrados">
      <td>{{ item.nome }}</td>
      <td>{{ item.mes }}</td>
      <td>{{ item.ano }}</td>
      <td>{{ item.codigo }}</td>
      <td>{{ item.valor }}</td>
    </tr>
  </tbody>
</table>
